body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: sans-serif;
}

.grid-container {
    
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(15rem,1fr));
    grid-gap:1em;
    justify-content:center;
    padding: 2em;
}
 
@media(min-width:800px){
.grid-container{
    margin: 2em;
}
}
  