:root{
    --radius:0.2rem;
    --clr-primary:royalblue;
    --clr-primary-dark:black;
    --clr-primary-hover:grey;
    --clr-gray100:#f0f7f8;
    --clr-blue:royalblue;
     
      
  }

  .card{
    overflow:hidden;
    box-shadow: 0px 2px 20px var(--clr-blue);
    border-radius:var(--radius);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    cursor:pointer;
    transition:transform 200ms ease-in;
  
    
  }
  .card__image{
    height:12rem;
    width:100%;
    object-fit:cover;
  
   
  }
  .card__title{
    padding:1rem;
  }
  .card__description{
    padding: 0 1rem;
  }
  .card__link{
    text-decoration: none;
    text-align: center;
    padding:1rem;
    font-family:inherit;
    font-weight:bold;
    font-size:1rem;
    margin:1rem;
    background:transparent;
    border:2px solid var(--clr-primary-dark);
    border-radius:var(--radius);
    color:var(white);
    transition:background 200ms easy-in,
      color 200ms easy-in;
      
  }
  .card:hover{
    transform:scale(1.02);
  }
  .card__link:hover{
    background:var(--clr-primary);
    color:white;
  }







