.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 220px;
  justify-content: space-between;
  margin-left: 8rem;
  margin-top: 1rem;
}

.form-field {
  display: flex;
  align-items: center;
}

.form-label {
  flex: 1;
}

.form-input {
  flex: 2;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.form-button {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms;
}

.form-button:hover {
  background-color: #4069e0;
}
